
<div class="page-header">
    <h3 class="page-title">
      All Tasks
    </h3>

    <button *ngIf="JesStatus" (click)="exportExcel()"  _ngcontent-yoi-c24="" class="btn btn-outline-primary" style="float: right; margin-left: 5px;">Export</button>

    
  </div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <div style="margin-bottom: 50px;">
                
                <div style="display:block;">
                    <div style="display:inline-block">
                        <h6>City</h6>
                        <select #citys (change)="selectedCity=citys.value" (change)="getAreaByCity(citys.value)" class="drp">
                            <option>Select</option>
                            <option *ngFor="let i of city">{{i}}</option>
                            
                        </select>
                       </div>
                    <div style="display:inline-block">
                        <h6>Area</h6>
                        <select #areas (change)="selectedArea=areas.value" class="drp">
                            <option>Select</option>
                            <option *ngFor="let i of area">{{i}}</option>
                            
                        </select>
                       </div>
                   
                   
                   <div style="float: left;">
                    <h6>Customer Id</h6>
                    <input #cusId (change)="selectedCustomer=cusId.value" style="height: 30px;width: 100px; margin-left: 5px;" type="text"/>
                   </div>
                    
                    <button (click)="submit()"  _ngcontent-yoi-c24="" class="btn btn-outline-primary" style="float: right; margin-left: 5px;">Search</button>
                    

            </div>
            
            <div class="table-responsive">

              

              <table  class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Task ID
                    </th>
                    <th>
                     Customer ID
                    </th>
                    <th>
                      Installation Number
                    </th>
                    <th>
                      City
                    </th>
                    <th>
                      Area
                    </th>
                    <th>
                        MRU
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Created Date
                    </th>
                  </tr>
                </thead>

                
                <tbody *ngIf="!spinnerStatus">
                  <tr *ngFor="let i of alltask | paginate: { itemsPerPage: 5, currentPage: p, totalItems: alltask.length }">
                    <td>
                      {{i.id}}
                    </td>
                    <td>
                      {{i.CustomerId}}
                    </td>
                    <td>
                      {{i.InstallationId}}
                    </td>
                    <td>
                      {{i.City}}
                    </td>
                    <td>
                      {{i.Area}}
                    </td>
                    <td>
                    {{i.MRU}}
                    </td>
                    <td>
                    {{i.Status}}
                    </td>
                    <td>
                    {{i.CreatedData}}
                    </td>
                  </tr>
                  

                  

                  

                </tbody>
              </table>
              <div *ngIf="spinnerStatus" class="loader"></div>
              <div style="margin-left: 240px;">
              <pagination-controls style="margin-left: 900px;" (pageChange)="p = $event"></pagination-controls>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
