<div class="page-header">
    <h3 class="page-title">
      Assign Task
    </h3>

  </div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <button [ngStyle]="{ 'display': (assignStatus&&vPlannerStatus)? 'inline-block' : 'none' }" (click)="assign()"  _ngcontent-yoi-c24="" class="btn btn-outline-primary" style=" margin-left: 5px;">Assign</button>

            <div style="margin-bottom: 50px;">
                
                <div style="display:block;">
                    <div style="display:inline-block">
                        <h6>City</h6>
                        <select #citys (change)="getVplannerByCityAndManager(citys.value)" (change)="getVmanagerByCity(citys.value)" (change)="selectedCity=citys.value" (change)="getAreaByCity(citys.value)" class="drp">
                            <option>Select</option>
                            <option *ngFor="let i of city">{{i}}</option>
                            
                        </select>
                       </div>
                    <div style="display:inline-block">
                        <h6>Area</h6>
                        <select #areas (change)="selectedArea=areas.value" class="drp">
                            <option>Select</option>
                            <option *ngFor="let i of area">{{i}}</option>
                            
                        </select>
                      </div>
                      <div [ngStyle]="{ 'display': vPlannerStatus? 'inline-block' : 'none' }">
                        <h6>Field Worker</h6>
                        <select #work (change)="selectedWorker=work.value" class="drp">
                            <option>Select</option>
                            <option *ngFor="let i of Worker">{{i}}</option>
                            
                        </select>
                      </div>
                   
                   
                   <div style="float: left;">
                    <h6>Customer Id</h6>
                    <input #cusId (change)="selectedCustomer=cusId.value" style="height: 30px;width: 100px; margin-left: 5px;" type="text"/>
                   </div>
                    
                    <button (click)="submit()"  _ngcontent-yoi-c24="" class="btn btn-outline-primary" style="float: right; margin-left: 5px;">Search</button>
                    

            </div>
            
            <div [ngStyle]="{ 'display': status ? 'inline-block' : 'none' }">
                <h6>Assign Vender(Based On City)</h6>
                <select   style="width: 200px;" #ven (change)="selectedVender=ven.value"  class="drp">
                    <option>Select</option>
                    <option *ngFor="let i of Vmanager">{{i}}</option>
                    
                </select>
                <button [ngStyle]="{ 'display': !vManagerStatus ? 'inline-block' : 'none' }" (click)="assign()"  _ngcontent-yoi-c24="" class="btn btn-outline-primary" style=" margin-left: 5px;">Assign</button>
            </div>

            <div [ngStyle]="{ 'display': vManagerStatus ? 'inline-block' : 'none' }">
              <h6>Assign Planner(Based On Vender)</h6>
              <select style="width: 200px;" #plan (change)="selectedplanner=plan.value"  class="drp">
                  <option>Select</option>
                  <option *ngFor="let i of Vplanner">{{i}}</option>
                  
              </select>
              <button [ngStyle]="{ 'display': vPlannerStatus || vManagerStatus ? 'inline-block' : 'none' }" (click)="assign()"  _ngcontent-yoi-c24="" class="btn btn-outline-primary" style=" margin-left: 5px;">Assign</button>
          </div>

          <button [ngStyle]="{ 'display': vPlannerStatus ? 'inline-block' : 'none' }" (click)="approveAllWorker(true)" type="button" class="btn btn-info btn-rounded btn-fw">Approve</button>
            
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                        <button (click)="checkedAll=true" (click)="checkboxstatus()" style="color: antiquewhite;border: 2px solid blue; background-color: rgb(20, 150, 236);" type="button">Check All</button>
                    </th>
                    <th>
                      Task ID
                    </th>
                    <th>
                     Customer ID
                    </th>
                    <th>
                      Installation Number
                    </th>
                    <th>
                      City
                    </th>
                    <th>
                      Area
                    </th>
                    <th>
                        MRU
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Created Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of alltask | paginate: { itemsPerPage: 5, currentPage: p, totalItems: alltask.length }">
                    <td>
                        <input [checked]="checkedAll" [value]="i.id" (change)="checkbox($event)"  type="checkbox"/>
                    </td>
                    <td>
                      {{i.id}}
                    </td>
                    <td>
                      {{i.CustomerId}}
                    </td>
                    <td>
                      {{i.InstallationId}}
                    </td>
                    <td>
                      {{i.City}}
                    </td>
                    <td>
                      {{i.Area}}
                    </td>
                    <td>
                    {{i.MRU}}
                    </td>
                    <td>
                    {{i.Status}}
                    </td>
                    <td>
                    {{i.CreatedData}}
                    </td>
                  </tr>
                  

                  

                  

                </tbody>
              </table>
              <div style="margin-left: 240px;">
              <pagination-controls style="margin-left: 900px;" (pageChange)="p = $event"></pagination-controls>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>

