.navStyle{
    position: fixed;
    top: 17%;
    left: 22%;
    animation: fadeIn 1s;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.2) 100px 80px 80px 80px;
}

.passwordstyle{
    position: absolute;
    margin-top: -450px;
    margin-left: -50px;
    animation: fadeIn 1s;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.2) 100px 80px 80px 80px;
}