<div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
</div>
<div class="row grid-margin">
  <div class="col-12">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="statistics-item">
              <p>
                <i class="icon-sm fa fa-user mr-2"></i>
                CI Tasks
              </p>
              <h2>{{count}}</h2>
              <label class="badge badge-outline-success badge-pill">2.7% increase</label>
            </div>
            
            
            
            
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <h4 class="card-title">
            <i class="fas fa-gift"></i>
            Orders
          </h4>
          <canvas id="orders-chart" width="287" height="143" style="display: block; width: 287px; height: 143px;" class="chartjs-render-monitor"></canvas>
          <div id="orders-chart-legend" class="orders-chart-legend"><ul class="legend0"><li><span class="legend-label" style="background-color:#392c70"></span>Delivered</li><li><span class="legend-label" style="background-color:#d1cede"></span>Estimated</li></ul></div>                  
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <h4 class="card-title">
            <i class="fas fa-chart-line"></i>
            Sales
          </h4>
          <h2 class="mb-5">56000 <span class="text-muted h4 font-weight-normal">Sales</span></h2>
          <canvas id="sales-chart" width="287" height="143" style="display: block; width: 287px; height: 143px;" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>
