<div class="page-header">
  <h3 class="page-title">
    Upload City And Area Excel File
  </h3>
</div>
<div class="row">
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex">Dropify
            <small class="ml-auto align-self-end">
              <!-- <a href="dropify.html" class="font-weight-light" target="_blank">More dropify examples</a> -->
            </small>
          </h4>
          <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input #excelfile (change)="uploadExcel($event)" type="file" class="dropify"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
        </div>
      </div>
    </div>
    
    
  </div>
